<%= form_with model: @spot do |form| %>
    <% if @spot.errors.any? %>
       <div>
          <ul>
             <% @spot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
             <% end %>
          </ul>
       </div>
    
    <% end %>
   
     
     <div>
        <%= form.label :title, 'タイトル' %><span class="required-mark">*</span><br> 
        <%= form.text_field :title %>
     </div>
     <div>
        <%= form.label :location, '場所' %><br> 
        <%= form.text_field :location %>
     </div>
     <div>
        <%= form.label :description, '魅力を詳しく教えて...' %><span class="required-mark">*</span><br> 
        <%= form.text_area :description %>
     </div>
     <div>
         <label>あなたの名前</label><br>
         <input type="text" value="<%= current_user&.name || 'ゲスト' %>" readonly>
     </div>
     <div>
         <%= form.label :images, '写真' %><span class="required-mark">*</span><br> 
         <%= form.file_field :images, multiple: true %>
     </div>
     <div>
         <%= form.submit '投稿する' %>
     </div>
 <% end %>