<h1>
  <%= link_to "小さな小さな  旅を教えて", spots_path, class: "topper-link" %>
</h1>

<p>
<div class="diary-page">

  <h1 class="diary-title"><%= @spot.title %></h1>

  

  <div class="diary-image">
    <% if @spot.images.attached? %>
      <% @spot.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [400, 400]), class: "diary-photo" %>
      <% end %>
    <% end %>
  </div>

  <div class="diary-text">
    <p><%= simple_format(@spot.description) %></p>
  </div>

  <div class="like-button">
    <% if user_signed_in? %>
      <% if current_user.likes.exists?(spot: @spot) %>  
        <%= link_to spot_like_path(@spot), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>

      <% else %>
        <%= link_to spot_like_path(@spot), data: { turbo_method: :post } do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
      <span class="like-count" > <%= @spot.likes.count %></span>
    <% end %>
  </div>

</div>

<div class="spot-info">

  <div class="info-item">
    <span class="info-label">Name</span>
    <span class="info-value">
      <% if @spot.user.present? %>
        <%= link_to @spot.user.name, user_path(@spot.user) %>
      <% else %>
        ゲスト
      <% end %>
    </span>
    
  </div>

  <div class="info-item">
    <span class="info-label">Location</span>
    <%= link_to @spot.location, "https://www.google.com/maps/search/?api=1&query=#{ERB::Util.url_encode(@spot.location)}", target: "_blank", rel: "noopener", class: "info-value" %>
  </div>
</div>






<% if user_signed_in? && current_user == @spot.user %>
  <%= link_to '削除', spot_path(@spot), data: { turbo_method: "delete", turbo_confirm: '本当に削除しますか?'}, class: "info-value" %>
<% end %>