<% if user_signed_in? && current_user ==@user %>
  <div class="settings-tab">
    <ul>
      <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
      <li><%= link_to "アカウント削除", registration_path(current_user), 
        data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除してもよいですか？投稿も全て削除されます" } %></li>
    </ul>
  </div>
<% end %>

<div class="profile-box">
  <% if @user.avatar.attached? %>
    <%= image_tag url_for(@user.avatar), class: "avatar" %>
  <% else %>
    <%= image_tag "default_avatar.png", class: "avatar" %>
  <% end %>

  <% if @user.profile.present? %>
    <div class="profile-text"><%= simple_format(@user.profile) %></div>
  <% else %>
    <div class="profile-text">まだプロフィールが設定されていません。</div>
  <% end %>
</div>

<h1><%= @user.name %></h1>


<% @spots.each do |spot| %>
  <div class= "mypage-spots">
    <%= link_to spot_path(spot) do %>

      <div class= "spot-thumbnail">
          <%= image_tag spot.images.first.variant(resize_to_limit: [150, 150])%>
      </div>

      <div class= "spot-title">
        <%= spot.title%>
      </div>

    <% end %>
  </div>
<% end %>
