  <div class="sticky-link" >
      <%= link_to "付箋を貼る", new_post_it_path %>
  </div>

<% if user_signed_in? && current_user ==@user %>
  <div class="settings-tab">
    <ul>
      <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
      <li><%= link_to "アカウント削除", registration_path(current_user), 
        data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除してもよいですか？投稿も全て削除されます" } %></li>
    </ul>
  </div>
<% end %>


<div class="profile-wrapper">
  <div class="profile-box">
    <% if @user.avatar.attached? %>
      <%= image_tag url_for(@user.avatar), class: "avatar" %>
    <% else %>
      <%= image_tag "default_avatar.png", class: "avatar" %>
    <% end %>
    <div class= "profile-name"> <%=@user.name%>
    </div>
  </div>

  <div class="profile-box">
    <% if @user.profile.present? %>
      <div class="profile-text"><%= simple_format(@user.profile) %></div>
    <% else %>
      <div class="profile-text">まだプロフィールが設定されていません。</div>
    <% end %>
  </div>

 
  <div class="sticky-container">
    <% @user.post_its.limit(5).each_with_index do |post_it, i| %>
      <div class="sticky-note" style="--i:<%= i %>">
        <%= simple_format(post_it.content) %>
        <% if user_signed_in? && current_user == @user %>
          <%= button_to "×", post_it_path(post_it), method: :delete, data: { confirm: "削除しますか？" }, class: "delete-btn" %>
        <% end %>
      </div>
    <% end %>
  </div>

  
</div>


<div class="tab-wrapper">
  <input type="radio" name="tab" id="tab1" checked>
  <label for="tab1"><%= @user.name %></label>

  <input type="radio" name="tab" id="tab2">
  <label for="tab2">いいねした投稿</label>

  <div class="tab-content" id="content1">
    <% @spots.each do |spot| %>
      <div class= "mypage-spots">
        <%= link_to spot_path(spot), class: "spot-link" do %>

          <div class= "spot-thumbnail">
            <%= image_tag spot.images.first.variant(resize_to_limit: [150, 150])%>
          </div>

          <div class= "spot-title">
            <%= truncate(spot.title, length: 12) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="tab-content" id="content2">
    <% @user.liked_spots.each do |spot|%>
      <div class= "mypage-spots">
        <%= link_to spot_path(spot), class: "spot-link" do %>
          <div class= "spot-thumbnail">
            <%= image_tag spot.images.first.variant(resize_to_limit: [150, 150])%>
          </div>

          <div class= "spot-title">
            <%= truncate(spot.title, length: 12) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




